<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>893071023799-ou2cl30rncgu1d7r3r4v5jqn0t3ea014.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893071023799-ou2cl30rncgu1d7r3r4v5jqn0t3ea014</string>
	<key>API_KEY</key>
	<string>AIzaSyCmCAFCY8Xt1e04XjFQHUgWosJ82urwGfA</string>
	<key>GCM_SENDER_ID</key>
	<string>893071023799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>redditlite</string>
	<key>PROJECT_ID</key>
	<string>reddit-lite-b603b</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-lite-b603b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893071023799:ios:dfcb7fdfff8d4b17</string>
	<key>DATABASE_URL</key>
	<string>https://reddit-lite-b603b.firebaseio.com</string>
</dict>
</plist>